:root {
  --color-fondo: #f3f6fa; /* Gris claro para el fondo */
  --color-titulo: #35495e; /* Azul oscuro para los títulos */
  --color-texto: #737b8b; /* Gris medio para el texto */
  --color-borde: #d1d9e6; /* Gris claro para los bordes */
  --color-hover: #99a7bf; /* Azul grisáceo para el hover */
}

.divCarta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 400px;
  padding: 20px;
  margin: 20px auto;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-borde);
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.divCarta:hover {
  background-color: var(--color-hover);
  transform: translateY(-5px);
}

.carta {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--color-titulo);
}

.imagen {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--color-borde);
  transition: transform 0.3s ease;
}

.divCarta:hover .imagen {
  transform: scale(1.1);
}

.icono {
  font-size: 1.5em;
  color: var(--color-titulo);
}