/* SearchBar.module.css */

.divSearch {
  display: flex;
  align-items: center;
  max-width: 250px; /* Reducir el ancho máximo */
  margin: 0 auto;
  padding: 5px; /* Reducir el padding */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.inputSearch {
  flex: 1;
  height: 14px; /* Reducir la altura del campo de entrada */
  border: none;
  padding: 6px; /* Reducir el padding */
  border-radius: 4px;
  font-size: 14px; /* Reducir el tamaño de fuente */
}

.buttonSearch {
  background-color: #35495e;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 3px 10px; /* Reducir el padding del botón */
  margin-left: 5px; /* Reducir el margen izquierdo */
  cursor: pointer;
  font-size: 14px; /* Reducir el tamaño de fuente */
  transition: background-color 0.3s ease;
  height: 30px; /* Ajustar la altura del botón */
  display: flex;
  align-items: center;
}
