
.navBarContainer {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
  background-color: #35495e;
  padding: 20px;
}

.searchLine {
  display: flex;
  align-items: center;
  justify-content: center;

}

.selectLine {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px; 
}

.selectLine select {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  margin: 0 5px;
}

.selectLine button {
  background-color: #35495e;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.selectLine button:hover {
  background-color: #283745;
}
